version: '3'

services:

  php-8.1:
    volumes:
      - php81:/workdir
      - "./bin:/workdir/bin:ro"
      - "./src:/workdir/src:ro"
      - "./tests:/workdir/tests:ro"
      - "./composer.json:/workdir/composer.json:ro"
    build:
      context: .
      args:
        IMAGE: php:8.1-cli-alpine
        PACKAGES: git zip unzip icu-dev
    command: '/run-tests.sh'

  php-8.1_intl:
    volumes:
      - php81_intl:/workdir
      - "./bin:/workdir/bin:ro"
      - "./src:/workdir/src:ro"
      - "./tests:/workdir/tests:ro"
      - "./composer.json:/workdir/composer.json:ro"
    build:
      context: .
      args:
        IMAGE: php:8.1-cli-alpine
        PACKAGES: git zip unzip icu-dev
        PHPMODS: intl
    command: '/run-tests.sh'


  php-8.2:
    volumes:
      - php82:/workdir
      - "./bin:/workdir/bin:ro"
      - "./src:/workdir/src:ro"
      - "./tests:/workdir/tests:ro"
      - "./composer.json:/workdir/composer.json:ro"
    build:
      context: .
      args:
        IMAGE: php:8.2-cli-alpine
        PACKAGES: git zip unzip icu-dev
    command: '/run-tests.sh'

  php-8.2_intl:
    volumes:
      - php82_intl:/workdir
      - "./bin:/workdir/bin:ro"
      - "./src:/workdir/src:ro"
      - "./tests:/workdir/tests:ro"
      - "./composer.json:/workdir/composer.json:ro"
    build:
      context: .
      args:
        IMAGE: php:8.2-cli-alpine
        PACKAGES: git zip unzip icu-dev
        PHPMODS: intl
    command: '/run-tests.sh'


volumes:
  php81:
  php81_intl:
  php82:
  php82_intl:

